body{
    background-image: linear-gradient(135deg, #005F99, #FFC107, #F8F9FA);
    background-attachment: fixed;
}
.navbar-nav{
    list-style: none;
    margin:0;
    padding: 10px 10px;
    background-color: navy;
}
.nav-item{
    display: inline;
    padding: 0px 10px;
}
