.bg-custom{
    background-color: #04afd1;
}
.navbar-brand{
    color: darkgoldenrod;
}
.nav-link, .dropdown-item, .display-4, .lead{
    color: antiquewhite;
}
.jumbotron{
    background-color: #04afd1;
    background:
    url(tajMahal.jpg);
}