.bg-custom{
    background-color: #04afd1;
}
.navbar-brand{
    color: darkgoldenrod;
    text-decoration: none;
}
.nav-link, .dropdown-item, .display-4, .display-1{
    color: antiquewhite;
}
.jumbotron{
    align-items: center;
    justify-content: center;
    display: flex;
    background: url(tajMahal.jpg) no-repeat center center;
    width: 100%;  /* Full width */
    height: 400px; /* Adjust height as needed */
    background-size: contain; /* Ensures the whole image fits */
}